<div class="counter" [style.backgroundColor]="colorByValue()">{{curVal}}</div>
<div class="row buttons">
  <button type="button" (click)="inc()">+</button>
  <button type="button" (click)="dec()">-</button>
</div>
<div class="row manual-action">
  <label for="manual-val">수동 수정 : </label>
  <input type="number" id="manual-val" [(ngModel)]="manualVal">
  <button type="button" (click)="setValueForcibly()">강제 저장</button>
</div>

<hr>

<h2>구조 지시자</h2>

<hr>

<h3>NgIf 지시자</h3>

<div>
	<button type="button" (click)="isShow = !isShow">전환</button>
	<label *ngIf="isShow; else hiding">You are special!</label>
	<ng-template #hiding>
		<label>I'm so depressed</label>
	</ng-template>
</div>

<div *ngIf="member">
	<p>Name : {{member.name}}</p>
	<p>Email : {{member.email}}</p>
</div>

<hr>

<h3>NgFor 지시자</h3>

<ul>
	<li *ngFor="let animal of animals; let idx = index">{{ idx }} {{animal}}</li>
</ul>

<hr>

<h3>NgSwitch 지시자</h3>

<span [ngSwitch]="animal">
	<ng-container *ngSwitchCase="'dog'">멍멍</ng-container>
	<ng-container *ngSwitchCase="'cat'">야옹</ng-container>
	<ng-container *ngSwitchCase="'pig'">돼지</ng-container>
	<ng-container *ngSwitchDefault>에헴!</ng-container>
</span>

<hr>
<h2>속성 지시자</h2>

<div [class.my-class]="isMyClass">앵귤러 속성 지시자</div>
<p>
	[class.my-class]="isMyClass" ts파일의 isMyClass가 false나 0이 아니면 my-class클래스 속성을 사용하는것이다. <br>
	그런데 이것으로는 하나의 class만 지정할 수 있다.
</p>

<div [ngClass]="myObj">앵귤러 NgClass 속성 지시자</div>

<p [ngStyle]="styleConf">NgStyle</p>

<hr>

<h1>파이프</h1>

<p name="member-name">{{ myName | uppercase | honor }}</p>
<p name="member-name">{{ myName | uppercase | geekMark }}</p>
<p name="member-name">{{ myName | uppercase | geekMark:'A' }}</p>