<div class="counter" [style.backgroundColor]="colorByValue()">{{curVal}}</div>
<div class="row buttons">
  <button type="button" (click)="inc()">+</button>
  <button type="button" (click)="dec()">-</button>
</div>
<div class="row manual-action">
  <label for="manual-val">수동 수정 : </label>
  <input type="number" id="manual-val" [(ngModel)]="manualVal">
  <button type="button" (click)="setValueForcibly()">강제 저장</button>
</div>

<hr>

<h2>구조 지시자</h2>

<hr>

<h3>NgIf 지시자</h3>

<div>
	<button type="button" (click)="isShow = !isShow">전환</button>
	<label *ngIf="isShow; else hiding">You are special!</label>
	<ng-template #hiding>
		<label>I'm so depressed</label>
	</ng-template>
</div>

<div *ngIf="member">
	<p>Name : {{member.name}}</p>
	<p>Email : {{member.email}}</p>
</div>

<hr>

<h3>NgFor 지시자</h3>

<ul>
	<li *ngFor="let animal of animals; let idx = index">{{ idx }} {{animal}}</li>
</ul>